.foo{
  color:red;
  color:blue;
}
.baz,
.bar{
  color:yellow;
  color:green;
}

.bao{
  color:orange;
  padding:0px;
  color:purple;
  margin:20px;
}

.has_important{
  color: red !important;
  color: blue;
}
